<div class="panel panel-default">
    <div class="panel-heading spoke-heading">
        <p class="panel-title">
            <a data-toggle="collapse" data-parent="#spokeAccordion"
                class="tip" data-tip="ezoWorld" href="#callThree">
                {{ezoWorld}}
            </a>
        </p>
    </div>
    <div id="callThree" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="lairInfo">
                <li>
                    <span id="label-spokeDesc" class="infoLabel tip" data-tip="spokeDesc"> </span>
                    <span class="inlineInfo tip" data-tip="spokeDesc">
                        {{spokeDesc}}
                    </span>
                </li>
                <li>
                    <span id="label-spokeElement" class="infoLabel tip" 
                        data-tip="spokeElement"> </span>
                    <span class="inlineInfo tip" data-tip="spokeElement">
                        {{spokeElement}}
                    </span>
                </li>
                <li>
                    <span id="label-powerPref" class="infoLabel tip"
                        data-tip="spokePower"> </span>
                    <span class="infoLabel tip" data-tip="spokePower">
                        {{powerName}}
                    </span>
                    <p class="lairDesc tip" data-tip="spokePower">{{powerDesc}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>